<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>User-Registration</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <form class="example-form">

      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="email" placeholder="Email" name="test">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <input matInput [(ngModel)]="username" placeholder="Username" name="username">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <input type="password" matInput [(ngModel)]="password" placeholder="Password" name="password">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <input type="password" matInput [(ngModel)]="passwordConfirm" placeholder="Confirm password"
          name="passwordConfirm">
      </mat-form-field>
    </form>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="registrieren()">Registrieren</button>
  </mat-card-actions>
</mat-card>